@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ToDo Checker Application</h1>
    <br />
    <img src="https://media3.giphy.com/media/yNs2a0jRkYxy6191B2/200w.gif?cid=6c09b952xd7vsewassjqzj6q24v5q8a9o25o64skv6dpcjbe&ep=v1_gifs_search&rid=200w.gif&ct=g" alt="TODO List GIF" width="330" style="border-radius: 40px; border: 2px solid white;">
</div>
